*{
    margin: auto;
    padding: auto;
}
body{
    background-color: #1e1e1e;
    color: #fefdf9;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.inicio{
    display: flex;
    margin: auto;
    padding:auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    max-width: 35em;
    min-width: 393px;
    width: 100%;
    background-color: #db042b;
    border-radius: 2.5em;

}
h1{
    font-size: 1.8em;
}
input{
    text-decoration: none;
    font-family: monospace;
    height: 2em;
    border-radius: 2em;
    text-align: center;
    padding: auto;
    margin: 5px;
}
/*inicio de pokedex*/
.container_pokedex{
    display: flex;
    background-color:#8c8c8c ;
    width: 30em;
    height: 65em;
    flex-direction: column;
    border:15px  #4a4a4a solid;
    border-radius: 2em;
    text-align: center;

}
.contaniner_pokedex_screen{
    height: 35em;
    background-color: #393939;
    margin: 1em;
    border: .5em #292929 solid;
    border-radius: 5px;
}
.pokedex{
    margin: 6px;
    background-color: #4a4a4a;
    border-radius: 5px;
}
.container_pokedex_screen-img1{
    /*background-color: #1e1e1e;*/
    background-color: #1e1e1e;
    height: 15em;
    margin: 1em;
    margin-bottom: 1.2em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.poke_img{
    height: 7em;
    width:auto;
    border-radius: 50%;
 }
.container_pokedex_screen-img2{
    background-color: #1e1e1e;
    position: relative;
    height: fit-content;
    max-height: 15em;
    max-width: 300px;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
    margin: 0 auto;

}
.container_pokedex_screen-img2-stats div{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 3px;
    font-size: 18px;
}
/* body - decoracion */
.container_pokedex_body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:26em ;
}
.ciruclo_contorno{
    width: 26em;
    height: 26em;
    border-radius: 50%;
    background: #393939;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circulo {
    width: 23em;
    height: 23em;
    border-radius: 50%;
    background: #db042b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circulo_raya{
    position: absolute;
    width: 23em;
    height: 5em;
    background-color: #393939;
    transform: rotate(45deg);
    z-index: 2;
}
.circulo_contorno_button{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background: #393939;
    border: 5px #292929 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}
.circulo_button{
    width: 9em;
    height: 9em;
    border-radius: 50%;
    background: #fefdf9;
    border: 5px #292929 solid;
    z-index: 6;
 
}
.circulo_button:hover{
    background-color: #db042b;
}
.space{
    min-width: 15px;
    max-width: 20px;
    min-height: 15px;
    max-height: 20px;
}